/*


#F17949 Orange
#FAB131 Gul
#C7DDEA Ljusblå
#A9A19E Grå


*/

html,body {
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;

}

p,a,button, label{
  font-family: 'Fira Sans', sans-serif;
}
h1,h2,h3,h4,h5{
  font-family: 'Frank Ruhl Libre', serif;
}

.head-section {
  display: flex;
  flex-wrap: wrap;
  height: 65vh;
  width: 100%;

  
  font-weight: bold;
}




.header-picture-div {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  height: 80%;

  
  background-color: #C7DDEA;
}

.header-picture-div h1 {
  font-size: 3rem;
  margin-left: .7em;

  height: 10vh;
  width: 50vw;

}



.header-picture-div img {
  position: absolute;

  bottom: 0;
  right: 0;
}

.head-section nav {
  width: 100%;

  background-color: #fff;
}

.head-section nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.head-section nav ul li {
  
  width: 49%;
  padding: 1.3em 0em;

  background-color: #fff;
  color: #a9a19e;

  text-align: center;
}

.head-section nav ul li:hover {
  background-color: #f6f6f6;
}

.head-section nav ul li a {
  color: #a9a19e;
  text-decoration: none;
}
.head-section nav ul li:hover a {
  color: black;
}









.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  
  
  
  background-color: #a9a19e;


}

.form-container h1 {

  width: 80%;

  margin-top: 1em;

  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.form-container form {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-top: 2em;
  width: 90%;
  height: 40vh;

  color: white;
}

.form-container button {

  /* position: absolute;

  bottom: 0;
  right: 0; */


  width: 45%;

  margin-top: 2em;
  margin-left: 55%;
  padding: 1em;

  background-color: white;
  color: black;

  font-weight: bold;


  border-radius: 22px;
  border: none;

}

.form-container label {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.email-field {
  height: 5vh;

  margin-bottom: 1em;
}

.message-field {
  height: 20vh;
}







.visit-us-container {
  position: absolute;

  top: 132vh;

  width: 90%;
  height: 20vh;
  margin-left: 5%;

  color: white;
  background-color: orange;
}
.visit-us-container h1 {
  font-size: 3rem;
  width: 90%;

  margin: .5em auto;
}
.visit-text {
  width: 90%;
  margin: 0 auto;
}

.map-footer {
  height: 50vh;

  background-image: url("../assets/map.png");
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {

  .page-wrapper {
    width: 100%;
    margin: 0 auto;

    background-color: #ebebeb;
  }


  .header-picture-div {
    height: 90%;
    justify-content: center;
  }

  .header-picture-div h1 {
    font-size: 5rem;
    margin-left: 0;
  
    height: auto;
    width: 50%;
    text-align: center;
  
  }

  .header-picture-div img {
    position: absolute;
  
    bottom: 0;
    right: 10%;

    height: 80%;
  }
  

  .head-section nav {
  
    height: auto;
  }
  
  .head-section nav ul {
    display: flex;

    flex-wrap: nowrap;
  }
  
  .head-section nav ul li {


    padding: 2.2em;

  }






  .form-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 80vh;
    
  
  
  }
  
  .form-container h1 {
  
    width: 30%;
  
    margin-top: 0em;
  
    color: white;
    font-size: 5rem;
    font-weight: bold;
  }
  
  .form-container form {
    position: relative;
  
    display: flex;
    flex-direction: column;
  
    margin-top: 0;
    width: 30%;
    height: 40vh;
  
    color: white;
  }

  .form-container button {

    width: 40%;
  
    margin-top: 1em;
    padding: 1.5em 1em;

    border-radius: 25px;

  }

  .map-footer{
    height: 80vh;
  }
  .visit-us-container {  
    width: 30%;
    height: 40vh;
    top: initial;
    margin-top: 4em;
  }
  .visit-us-container h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-left: 2.1rem;
  }
  .visit-text {
    margin-top: 2.1rem;
    line-height: 1.5rem;
    opacity: .9;
    font-weight: 500;
  }

}