/* Colors:
#F17949 orange
#FAB131 gul
#C7DDEA ljusblå
#A9A19E grå
#000000b9 button-text
#00000082 text
#fefefe white headings
*/

/* || General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}

/* || Fonts */
p,
a,
button {
  font-family: "Fira Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Frank Ruhl Libre", serif;
}

/* || Header section */
/* Left side content of header block */
.left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2.5em;
  width: 100%;
  height: calc(100vh - 4em);
  background-color: #c7ddea;
}
.left-side h1 {
  font-size: 3.5rem;
  font-weight: 800;
  margin-left: 3%;
  margin-right: 3%;
  line-height: 0.9em;
}
.left-side p {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 3%;
  margin-right: 3%;
  letter-spacing: -0.5px;
  line-height: 1.7em;
  /* color: #4b545a; */
  color: rgba(0, 0, 0, 0.511);
}
.left-side p::after {
  content: "$0.4 per day.";
  color: #fff;
}
.head-btn {
  padding: 1.2em 2em;
  width: 12em;
  margin-left: 3%;
  border: none;
  border-radius: 200px;
  background-color: #fefefe;
  box-shadow: 0 2px 3px #3e444852;
}
.head-btn span {
  font-size: 0.8rem;
  font-weight: 700;
  color: #000000b9;
}

.left-side img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
/* Right side content of header block */
.right-side {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.orange-box,
.yellow-box {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.orange-box a,
.yellow-box a {
  text-decoration: none;
}
.orange-box h3,
.yellow-box h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1em;
  color: #fefefe;
}
.orange-box p,
.yellow-box p {
  font-size: 0.9rem;
  font-weight: 600;
  color: #00000082;
}
.orange-box {
  background-color: #f17949;
}
.yellow-box {
  background-color: #fab131;
}
/* || Navigation */
.page-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fefefe;
  z-index: 1;
}
.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.nav-item {
  padding: 2em 0;
  width: 100%;
  text-align: center;
}
.nav-item-current {
  padding: 2em 0;
  width: 100%;
  text-align: center;
  background-color: #a9a19e;
}
.nav-item a {
  text-decoration: none;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.511);
}
.nav-item-current a {
  text-decoration: none;
  font-weight: 500;
  color: black;
}
/* Jonathan stop */
.main-section {
  width: 100%;
}

.gray-container {
  height: 120em;
  width: 100%;
  background-color: rgb(169, 161, 158);
}

.gray-main-text {
  margin-top: 1.5em;
  margin-left: 3%;
  line-height: 1.5em;
  text-align-last: left;
}

.gray-container h1 {
  font-size: 3em;
  color: white;
  margin-left: 3%;
  padding-top: 10%;
  font-weight: 700;
}

.gray-container .head-btn {
  visibility: hidden;
  padding: 0;
  width: 0;
}

.gray-container p {
  width: 90%;
  font-weight: bold;
  color: rgb(80, 80, 80);
  padding-left: 0.6em;
}

.card-container {
  display: flex;
  padding-top: 1rem;
  align-items: center;
  flex-direction: column;
}

.card {
  margin-top: 4rem;
  /* margin-bottom: 4rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  width: 20em;
  height: 24rem;
  border-radius: 8px;
  position: relative;
  justify-content: flex-end;
}

.card h2,
.card p {
  margin-bottom: 2em;
}

.card p {
  opacity: 60%;
}

.card h2 {
  font-weight: bold;
}

.child-background {
  width: 80%;
  background-color: #c7ddea;
  border-radius: 8px;
  position: absolute;
  bottom: 210px;
}

.adult-background {
  width: 80%;
  background-color: rgb(250, 177, 49);
  border-radius: 8px;
  position: absolute;
  bottom: 210px;
}

.old-background {
  width: 80%;
  height: 50%;
  background-color: #f17949;
  border-radius: 8px;
  position: absolute;
  bottom: 210px;
}

.Child,
.Adult {
  height: 100%;
  width: 50%;
}

.Old {
  height: 100%;
  width: 60%;
}

.about-container {
  text-align: center;
  background-color: rgb(250, 177, 49);
  height: 30rem;
}

.about-container h1 {
  font-size: 3em;
  color: white;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
}

.about-text {
  font-weight: bold;
  margin: auto;
  width: 80%;
}

.about-text p {
  color: #00000082;
  padding-bottom: 1em;
}
.footer-section{
  margin-bottom: 4em;
}
.footer-section div {
  height: 10em;
  padding: 2em;
  text-align: center;
  position: relative;
}
.footer-section div p{
  width: 80%;
  height: 50%;
  margin: 10% auto;
  color: #00000082;
}

.footer-header {
  background-color: rgb(199, 221, 234);
}

.footer-header h1 {
  /* padding-top: 2.5rem; */
  text-align: center;
  font-size: 2.4rem;
  font-weight: 800;
  width: 50%;
  height: 100%;
  margin: auto;
  color: #00000082;
}

.footer-section h2 {
  font-size: 2em;
  font-weight: 800;
  color: #00000082;
  float: left;
}

.footer-section p {
  width: 60%;
  height: 50%;
  margin: 0 auto;
  color: #00000082;
  font-size: 1.4rem;
  font-weight: 500;
}

.second {
  background-color: lightgray;
}

.fourth {
  background-color: rgb(241, 121, 73);
}

/* || Desktop */
@media screen and (min-width: 768px) {
  .page-wrapper {
    width: 100%;
    margin: 0 auto;

    background-color: #ebebeb;
  }

  .head-section {
    width: 100%;
    height: 100vh;
    display: flex;
  }
  .left-side {
    width: 50%;
    height: 100%;
    position: relative;
    justify-content: flex-start;
    align-items: center;
  }
  .left-side h1 {
    font-size: 3.5rem;
    width: 48%;
    margin-top: 15%;
    letter-spacing: normal;
  }
  .left-side p {
    font-size: 1.3rem;
    width: 48%;
  }
  .head-btn {
    margin-right: 30%;
    margin-top: 2.5em;
  }
  .head-btn:hover {
    cursor: pointer;
    box-shadow: 0 20px 30px rgb(144, 188, 202);
    transition: 0.3s;
  }
  .left-side img {
    width: 50%;
    height: auto;
    bottom: 0;
    right: 0;
    position: absolute;
  }
  .right-side {
    width: 50%;
    height: 100%;
  }
  .orange-box:hover {
    background-color: #f99872;
    transition: 0.3s;
  }
  .yellow-box:hover {
    background-color: #f9c771;
    transition: 0.3s;
  }
  .page-nav {
    position: initial;
  }
  .nav-item-current{
    background-color: #fff;
  }
  .main-section{
    width: 100%;
  }
  .gray-container {
    display: flex;
    justify-content: space-evenly;
    height: 120vh;
    width: 100%;
    position: relative;
  }

  .gray-left{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 30%;
    height: 40%;
    margin-top: 10%;
  }
  .gray-left h1{
    font-size: 3.6rem;
    font-weight: 900;
    margin: 0;
  }
  .gray-right{
    width: 30%;
    height: 40%;
    margin-top: 10%;
  }
  .gray-right p{
    font-size: 1.3rem;
    line-height: 1.4em;
    font-weight: 600;
  }
  .gray-left .head-btn {
    visibility: visible;
    padding: 1.2em 2em;
    width: 12em;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    position: absolute;
    width: 100%;
    top: 600px;
  }

  .card {
    width: 25em;
    height: 30em;
  }

  .child-background,
  .adult-background,
  .old-background {
    height: 45%;
    bottom: 360px;
  }

  .card h2 {
    font-size: 2em;
  }

  .card p {
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 500;
    margin-bottom: 3em;
  }

  .about-container {
    height: 80em;
  }

  .about-container h1 {
    padding-top: 5em;
    font-size: 5em;
    font-weight: bold;
  }
  .about-text {
    width: 50%;
    line-height: 1.5em;
    font-size: 1.5em;
    font-weight: 500;
  }

  /* .footer-section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  } */

  /* .footer-section div {
    width: 33.3333%;
    height: 50%;
  } */
  .footer-section{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }
  .footer-section div{
    height: 50vh;
  }
  .footer-section div p{
    margin-top: 25%;
  }
  .footer-header h1{
    margin-top: 25%;
  }
}
